@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#output {
  padding: 20px;
  text-align: center;
}

#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

.grid-container{
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  height: auto;
  min-height: 500px;
}

.grid-item1{
  background-color: rgba(255, 170, 255, 0.8);
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item2{
  grid-column-start: 2;
  grid-column-end: 4;
 
  
  background-color: rgba(255, 240, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}